<!-- Events -->
<section id="{{ include.section.section_id }}" class="wrapper">
    <div class="inner alt">
        {% assign events_is_not_empty = site.data.eventbrite | where:'status','live' | is_not_empty %}
        {% if events_is_not_empty %}
            {% assign events = (site.data.eventbrite | where:'status','live' | sort: "start.local") %}
            {% for event in events %}
                <section class="event">
                    {% assign logo_is_not_empty = event.logo | is_not_empty %}
                    {% if logo_is_not_empty %}
                        <div class="image"><a href={{ event.url | escape }}><img src="{{ event.logo.url }}" alt="" /></a></div>
                    {% endif %}
                    <div class="content">
                        <h2>{{ event.name.text | strip_html | escape }}</h2>
                        <h3>{{ event.start.local | strip_html | escape }}</h3>
                        {{ event.summary | strip_html | escape }}
                        <a href={{ event.url | escape }}>Click Here for More</a>
                    </div>
                </section>
            {% endfor %}
        {% endif %}

            <section class="special">
                <ul class="icons labeled">
                    {% assign events = (site.data.eventbrite | where_exp:'i',"i.status != 'draft'" | where_exp:'i',"i.status != 'canceled'" | sort: "start.local" | reverse) %}
                    {% for event in events %}
                        <li><span class="icon fa-camera-retro"><span class="label">{{ event.name.text | strip_html | escape }}</span></span></li>
                    {% endfor %}
                </ul>
            </section>

        {% assign icons_is_not_empty = include.section.icons | is_not_empty %}
        {% if icons_is_not_empty %}
            <section class="special">
                <ul class="icons labeled">
                    {% for item in include.section.icons %}
                        <li><span class="icon {{ item.icon }}"><span class="label">{{ item.title | strip_html }}</span></span></li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
    </div>
</section>
